<div class="centered-wrapper">
  <form [formGroup]="form" class="textAreaContainerCtrl">
    <div class="stack">
      <tui-textfield>
        <label tuiLabel>Feedback</label>
        <textarea formControlName="fb_content" placeholder="text of your feedback ..." tuiTextarea type="text" class="textAreaCtrl"></textarea>
      </tui-textfield>
    </div>
  </form>

  <section class="zoom-controller">
    <button appearance="icon" iconStart="@tui.minus" size="xs" tuiIconButton type="button" class="minus" (click)="change(-1)">
      Minus
    </button>

    <label tuiSliderThumbLabel class="slider-wrapper" >
      <div tuiHintAppearance="dark" tuiHintDirection="top" [tuiHint]="value | percent" [tuiHintManual]="!!(showHint$ | async)" ></div>
      <input step="any" tuiSlider type="range" [max]="max" [min]="min" [(ngModel)]="value" />
    </label>

    <button appearance="icon" iconStart="@tui.plus" size="xs" tuiIconButton type="button" class="plus" (click)="change(+1)">
      Plus
    </button>
  </section>

  <div>
    The accuracy of the information provided <code>{{ tuiRound(value, 0) }}</code> %
  </div>

  <footer>
    <button tuiButton type="submit" (click)="onSubmit()" class="save-button">
      <tui-icon icon="@tui.save" [style.height.rem]="1.2" /> Save feedback
    </button>
  </footer>
</div>
