.zoom-controller {
  display: flex;
  border-radius: 5px;
  background: var(--tui-background-neutral-1-pressed);
  block-size: var(--tui-height-s);
  justify-content: space-between;
  align-items: center;
  max-inline-size: 18rem;
  padding: 0.25rem 0;
  gap: 0.5rem;
}

.slider-wrapper {
  flex: 1;
}

.minus {
  border-radius: 5px 0 0 5px;
}

.plus {
  border-radius: 0 5px 5px 0;
}

.textAreaContainerCtrl {
  height: 200px;
  width: 400px;
}

.textAreaCtrl {
  height: 180px;
  width: 400px;
}

.save-button {
  margin-top: 1rem;
}
