@import '@taiga-ui/core/styles/taiga-ui-local.less';

@media @tui-mobile-interval {
  .centered-wrapper {
    padding: 3em 0 3em 0 !important;
  }

  .centered-wrapper form {
    width: 90%;
  }
}

/* tablet: 769px-1024px */
@media @tui-tablet-interval {
  .centered-wrapper {
    padding: 3em 0 0 0 !important;
  }

  .centered-wrapper form {
    width: 60%;
  }
}

/* desktop: > 1024px */
@media @tui-desktop-interval {
  .centered-wrapper form {
    width: 50%;
  }
}

@media @tui-desktop-lg-min {
  .centered-wrapper form {
    width: 30%;
  }
}

form footer {
  display: flex;
  justify-content: flex-end;
}

.filters {
  padding: 2rem 0;
}

.next-button {
  margin-bottom: 3em;
}

/*:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}*/

tui-pulse {
  color: var(--tui-background-accent-2);
}

.step-1 {
  position: absolute;
  top: 20%;
  right: 10%;
}

.step-2 {
  position: absolute;
  top: 19%;
  left: 31%;
  z-index: 100;
}

.step-3 {
  position: absolute;
  top: 19%;
  left: 38%;
  z-index: 100;
}

.step-4 {
  position: absolute;
  top: 19%;
  left: 46%;
  z-index: 100;
}

.step-5 {
  position: absolute;
  top: 19%;
  left: 54%;
  z-index: 100;
}

.step-6 {
  position: absolute;
  top: 19%;
  left: 61%;
  z-index: 100;
}

.step-7 {
  position: absolute;
  top: 19%;
  left: 69%;
  z-index: 100;
}

.step-8 {
  position: absolute;
  top: 19%;
  left: 98%;
  z-index: 100;
}

.step-9 {
  position: absolute;
  top: 62%;
  left: 53%;
  z-index: 100;
}
