<div class="friendlist-container">
  <div>
    <h2 class="header-with-icon">👥 Friend List</h2>
  </div>

  <ng-container *ngIf="friendInfoList.length > 0; else noFriends">
    <table class="friendlist-table">
      <thead>
      <tr>
        <th>Email</th>
        <th>Became Friends On</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let friend of friendInfoList">
        <td>
          <div class="email-cell">
            <tui-avatar
              [src]="friend.email | tuiInitials"
              [style.background]="friend.email | tuiAutoColor"
            ></tui-avatar>
            <span>{{ friend.email }}</span>
          </div>
        </td>
        <td>
          {{ friend.becameFriendsOn | date: 'dd.MM.yyyy' }}
        </td>
        <td>
          <button
            tuiIconButton
            iconStart="@tui.trash"
            appearance="error"
            size="s"
            (click)="removeFriend(friend)"
          >
            Remove
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </ng-container>

  <ng-template #noFriends>
    <p class="no-friends-text">No friends found.</p>
  </ng-template>
</div>
