.dashboard-container {
  display: flex !important;
  flex-direction: column !important;
  width: 100%;
  gap: 20px;
  padding: 10px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .dashboard-container {
    flex-direction: column !important;
    width: 100%;
    padding-bottom: 40px;
    align-items: center;   /* center children in column layout */
  }
}

app-friend-list,
app-invite-users,
app-search-users {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  min-width: 0;
}

.offline-banner {
  background-color: #ffcccc;
  color: #900;
  padding: 12px;
  text-align: center;
  font-weight: bold;
  border: 1px solid #900;
  margin-bottom: 10px;
  border-radius: 4px;
}
