<div class="centered-wrapper">
  <header tuiHeader>
    <h3 tuiTitle>
      User activity
      <span tuiSubtitle>History of all opened details that the users did on CityTales</span>
    </h3>
    <button tuiButton appearance="outline" type="button" routerLink="/admin-dashboard" >
      <tui-icon icon="@tui.arrow-left" [style.height.rem]="1"/>
      Return to admin dashboard
    </button>
  </header>
  <table tuiTable [size]="'m'" [style.width.rem]="70" class="userHistories" >
    <thead>
    <tr>
      <th tuiTh>Article</th>
      <th tuiTh>Username</th>
      <th tuiTh>Viewed at</th>
    </tr>
    </thead>
    <tbody tuiTbody>
    <tr *ngFor="let userHistory of userHistories">
      <!-- First column -->
      <td tuiTd>
        <div [tuiCell]="'m'">
                    <span tuiTitle>
                      {{ userHistory.article_name }}
                    </span>
        </div>
      </td>
      <!-- Second column -->
      <td tuiTd>
        <div [tuiCell]="'m'">
                    <span tuiTitle>
                      {{ userHistory.username }}
                    </span>
        </div>
      </td>
      <!-- Third column -->
      <td tuiTd>
        <div [tuiCell]="'m'">
          <span tuiTitle>
            {{ userHistory.open_dt | date: 'dd.MM.yyyy' }}
          </span>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

</div>
