<header tuiNavigationHeader class="header">

    <span tuiNavigationLogo>
      <a routerLink="/explore" ><img src="assets/logo/cityTales-logo-desktop-white.svg" alt="CityTales Logo" height="25" /></a>
    </span>
    <tui-segmented [size]="'m'" class="main-nav-desktop">
      <a routerLink="/explore" >🌎 Explore</a>
      <a routerLink="/tours">🧭 Tours</a>
      <a routerLink="/feedback">Contribute</a>
      <a routerLinkActive href="#">For Educators</a>
      <a routerLinkActive href="#">About</a>
      <a routerLink="/scoreboard">Scoreboard</a>
      <a routerLinkActive href="/scoreboard">Scoreboard</a>
      <a routerLinkActive href="/friends">Friends</a>
      <!-- <a routerLink="/onboarding" >Onboarding</a> -->
    </tui-segmented>

  <div class="user_interests_filter">
    <input
      tuiSwitch
      type="checkbox"
      tuiTooltip="User Interest Filter: Nur Interessen-basierte Filterung anzeigen"
      tuiHintPosition="top"
      [(ngModel)]="interestFiltering"
      (ngModelChange)="onInterestFilteringChange($event)"
      [size]="'m'"
    />
  </div>

  <div class="auth_buttons">
    <button
      appearance="secondary"
      size="s"
      tuiButton
      type="button"
      routerLink="admin/users"
    >
      <tui-icon
        icon="@tui.users"
        [style.height.rem]="1"
      />
      User Management
    </button>

    <button appearance="flat" tuiButton type="button" routerLink="register">
      Sign Up
    </button>

    <button
      *ngIf="!loggedIn"
      appearance="primary"
      tuiButton
      type="button"
      routerLink="login"
    >
      Login
    </button>

    <!-- Show Logout if logged in -->
    <button
      *ngIf="loggedIn"
      appearance="primary"
      tuiButton
      type="button"
      (click)="logout()"
    >
      Logout
    </button>
  </div>

</header>
