@media (max-width: 768px) {
  .centered-wrapper {
    justify-content: center;
    padding: 0 !important;
  }

  .centered-wrapper form {
    width: 90%;
  }
}

/* tablet: 769px-1024px */
@media (min-width: 769px) and (max-width: 1024px) {
  .centered-wrapper form {
    width: 60%;
  }
}

/* desktop: >768px show only .desktop */
@media (min-width: 1025px) {
  .centered-wrapper form {
    width: 25%;
  }
}
