<div class="centered-wrapper">
  <header tuiHeader>
    <h3 tuiTitle> Contributors </h3>
  </header>

  <div class="contributors-list">
    <p>
      <strong>Team coordinator</strong>
      <br>Ivan Lichner
      <br>01226385
      <br>Contact: <a href="mailto:e1226385@student.tuwien.ac.at">e1226385&#64;student.tuwien.ac.at</a>
    </p>
    <p>
      <strong>Technical architect</strong>
      <br>Christoph Winkler
      <br>11701292
      <br>Contact: <a href="mailto:e11701292@student.tuwien.ac.at">e11701292&#64;student.tuwien.ac.at</a>
    </p>
    <p>
      <strong>Test coordinator</strong
      ><br>Valentin Kastberger
      <br>11905155
      <br>Contact: <a href="mailto:e11905155@student.tuwien.ac.at">e11905155&#64;student.tuwien.ac.at</a>
    </p>
    <p>
      <strong>Documentation coordinator</strong>
      <br>Bianca Träger
      <br>01326815
      <br>Contact: <a href="mailto:bianca.traeger@tuwien.ac.at">bianca.traeger&#64;tuwien.ac.at</a>
    </p>
    <p>
      <strong>UI architect</strong>
      <br>Hariton Buçka
      <br>01529018
      <br>Contact: <a href="mailto:e1529018@student.tuwien.ac.at">e1529018&#64;student.tuwien.ac.at</a>
    </p>
    <p>
      <strong>DevOps coordinator</strong>
      <br>Simon Ripphausen
      <br>12444081
      <br>Contact: <a href="mailto:e12444081@student.tuwien.ac.at">e12444081&#64;student.tuwien.ac.at</a>
    </p>
  </div>
</div>
