<div class="centered-wrapper">
  <header tuiHeader>
    <h3 tuiTitle>
      User management
      <span tuiSubtitle>Change types and states of user accounts on CityTales</span>
    </h3>
    <button tuiButton appearance="outline" type="button" routerLink="/admin-dashboard" >
      <tui-icon icon="@tui.arrow-left" [style.height.rem]="1"/>
      Return to admin dashboard
    </button>
  </header>

  <table
    tuiTable
    [size]="'m'"
    [style.width.rem]="70"
    class="users"
  >
    <thead>
    <tr>
      <th tuiTh>Role</th>
      <th tuiTh>Status</th>
      <th tuiTh>Username</th>
      <th tuiTh>Created at</th>
      <th tuiTh>Actions</th>
    </tr>
    </thead>
    <tbody tuiTbody>
    <tr *ngFor="let user of users">
      <!-- First column -->
      <td tuiTd>
        <div [tuiCell]="'m'">
                    <span tuiTitle>
                      {{ user.role }}
                    </span>
        </div>
      </td>
      <!-- Second column -->
      <td tuiTd>
        <div [tuiCell]="'m'">
                    <span tuiTitle>
                      {{ user.status }}
                    </span>
        </div>
      </td>
      <!-- Third column -->
      <td tuiTd>
        <div [tuiCell]="'m'">
          <tui-avatar
            [src]="user.email | tuiInitials"
            [style.background]="user.email | tuiAutoColor"
          />
          <span tuiTitle>
                        {{ user.email }}
          </span>
        </div>
      </td>
      <!-- Fourth column -->
      <td tuiTd>
        <span tuiTitle>
          {{ user.created_at | date: 'dd.MM.yyyy' }}
        </span>

      </td>

      <!-- edit / more options -->
      <td tuiTd>
                <span tuiStatus>
                    <button
                      appearance="action"
                      iconStart="@tui.pencil"
                      size="s"
                      tuiIconButton
                      type="button"
                      [routerLink]="['/admin/users', user.id, 'edit']"
                    >
                        Edit
                    </button>
                    <button
                      appearance="action"
                      iconStart="@tui.trash"
                      size="s"
                      tuiIconButton
                      type="button"
                      (click)="handleDeleteClick(user)"
                    >
                        More
                    </button>
                </span>
      </td>
    </tr>
    </tbody>
  </table>

</div>


