:host {
  display: flex;
  height: calc(100vh - 48px);  /* full viewport minus header */
  overflow: hidden;
}

app-sidebar {
  width: 35%;
  background-color: var(--tui-background-base-alt);   /* light gray for sidebar */
}

app-map-view {
  flex: 1;
}
