<ng-container *ngIf="isMobile">
  <div class="search-button-container" *ngIf="!searchOpen && currentViewMobile === 'discover'">
    <button
      tuiButton
      size="m"
      type="button"
      class="mobile-search-button"
      (click)="toggleSearch($event)">
      <tui-icon icon="@tui.search" [style.height.rem]="1.2" />
    </button>
  </div>

  <div class="mobile-interest-container" *ngIf="currentViewMobile === 'map'"
  >
    <button
      tuiButton
      size="m"
      type="button"
      class="mobile-interest-toggle"
      (click)="onInterestToggle()">
      <tui-icon icon="@tui.id-card" [style.height.rem]="1.2" [style.color]="interestEnabled ? 'green' : 'red'" />
    </button>
  </div>

  <div class="mobile-view-toggle">
    <tui-segmented [size]="'m'" [style.border-radius.rem]="10" [activeItemIndex]="changeVal" (activeItemIndexChange)="onIndex($event)">
      <button
        (click)="currentViewMobile = 'map'"
      >
        <tui-icon icon="@tui.map" [style.height.rem]="1.2" /> Map
      </button>
      <button
        (click)="currentViewMobile = 'discover'"
      >
        <tui-icon icon="@tui.telescope" [style.height.rem]="1.2" /> Discover
      </button>
    </tui-segmented>
  </div>

    <div class="notification-button-container">
      <app-notification-inbox (selectPlaceEvent)="selectDetailEvent($event)"></app-notification-inbox>
    </div>

  <!-- Mobile: show only selected component -->
  <ng-container *ngIf="currentViewMobile === 'discover'">
    <app-sidebar
      [selectedEvent]="selectedEvent"
      [selectedPerson]="selectedPerson"
      [selectedPlace]="selectedPlace"
      [searchOpen]="searchOpen"
      [historicalPlaces]="historicalPlaces"
      (searchOpenChange)="searchOpen = $event">
    </app-sidebar>
  </ng-container>

  <ng-container *ngIf="currentViewMobile === 'map'">
    <app-map-view
      (populatePlacesEvent)="setHistoricalPlaces($event)"
      (selectDetailEvent)="selectDetailEvent($event)"></app-map-view>
  </ng-container>
</ng-container>

<!-- Desktop: show both always -->
<ng-container *ngIf="!isMobile">
  <app-sidebar [historicalPlaces]="historicalPlaces"
               [selectedPlace]="selectedPlace"
               [selectedEvent]="selectedEvent"
               [selectedPerson]="selectedPerson">
  </app-sidebar>
  <app-map-view (selectDetailEvent)="selectDetailEvent($event)" (populatePlacesEvent)="setHistoricalPlaces($event)"></app-map-view>
</ng-container>
