<ng-container *ngIf="isMobile">
  <div class="mobile-view-toggle">
    <tui-segmented [size]="'m'" [style.border-radius.rem]="10">
      <button
        (click)="currentViewMobile = 'history'"
      >
        Discover
      </button>
      <button
        (click)="currentViewMobile = 'map'"
      >
        Map
      </button>
    </tui-segmented>
  </div>
  <!-- Mobile: show only selected component -->
  <ng-container *ngIf="currentViewMobile === 'history'">
    <app-sidebar [selectedPlace]="selectedPlace" [historicalPlaces]="historicalPlaces" [detailedView]="setDetailedView" (setDetailedView)="setDetailedViewEvent($event)"></app-sidebar>
  </ng-container>

  <ng-container *ngIf="currentViewMobile === 'map'">
    <app-map-view (selectPlaceEvent)="setSelectedPlace($event)" (populatePlacesEvent)="setHistoricalPlaces($event)" (setDetailedViewEvent)="setDetailedViewEvent($event)"></app-map-view>
  </ng-container>
</ng-container>

<!-- Desktop: show both always -->
<ng-container *ngIf="!isMobile">
  <app-sidebar [selectedPlace]="selectedPlace" [historicalPlaces]="historicalPlaces" [detailedView]="setDetailedView" (setDetailedView)="setDetailedViewEvent($event)"></app-sidebar>
  <app-map-view (selectPlaceEvent)="setSelectedPlace($event)" (populatePlacesEvent)="setHistoricalPlaces($event)" (setDetailedViewEvent)="setDetailedViewEvent($event)"></app-map-view>
</ng-container>
