.dashboard-container {
  display: flex !important;
  flex-direction: row !important;
  width: 100vw;
  gap: 20px;
  padding: 10px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .dashboard-container {
    flex-direction: column !important;
    width: 100%;
    padding-bottom: 40px;
  }
}

app-leaderboard,
app-badges,
app-xp-tracker {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  min-width: 0;
}


.offline-banner {
  background-color: #ffcccc;
  color: #900;
  padding: 12px;
  text-align: center;
  font-weight: bold;
  border: 1px solid #900;
  margin-bottom: 10px;
  border-radius: 4px;
}
