<div class="centered-wrapper">
  <header tuiHeader>
    <h3 tuiTitle> Admin dashboard </h3>
  </header>

  <footer>
    <button class="button-style" tuiButton appearance="primary" type="submit" (click)="handleUserManagementClick()" >
      User management
    </button>
    <button class="button-style" tuiButton appearance="primary" type="submit" (click)="handleFeedbacksClick()" >
      Feedbacks
    </button>
    <button class="button-style" tuiButton appearance="primary" type="submit" (click)="handleUserActivityClick()" >
      User activity
    </button>
  </footer>
</div>
