<div class="centered-wrapper">
  <form tuiForm="l" [formGroup]="changePassForm" (ngSubmit)="onSubmit()" >
    <header tuiHeader>
      <h3 tuiTitle>
        Change password
        <span tuiSubtitle>Change the password for your account on CityTales</span>
      </h3>
    </header>

    <tui-textfield>
      <label tuiLabel>Password</label>
      <input formControlName="passwordValue" tuiTextfield type="password" />
      <tui-icon tuiPassword/>
    </tui-textfield>

    <tui-error formControlName="passwordValue" [error]="[] | tuiFieldError | async" />

    <footer>
      <button tuiButton type="submit" >
        Save new password
      </button>
    </footer>
  </form>
</div>

