<div class="centered-wrapper">
  <form [formGroup]="form">
    <header tuiHeader>
      <h3 tuiTitle>Edit your interests
        <span tuiSubtitle>Tailor your interests to discover the best spots for you</span>
      </h3>
      <button tuiButton appearance="outline" type="button" routerLink="/profile" >
        <tui-icon icon="@tui.arrow-left" [style.height.rem]="1"/>
        Return to user profile
      </button>
    </header>

    <div class="filters">
      <tui-filter
        formControlName="filters"
        size="l"
        [items]="interestNames"
      />
    </div>

    <footer>
      <button
        appearance="floating"
        tuiButton
        type="button"
        class="next-button"
        (click)="onSubmit()"
      >
        Save
        <tui-icon
          icon="@tui.arrow-right"
          [style.height.rem]="5"
        />
      </button>
    </footer>
  </form>
</div>
