<section id="quizListView" class="quiz-list-view">
  <h1>Ready for a Challenge?</h1>

  <button class="button-style" appearance="primary" tuiButton type="button" iconEnd="@tui.chevron-down"
          [tuiAppearanceState]="openGenerateMenu ? 'hover' : null" [tuiDropdown]="content"
          [(tuiDropdownOpen)]="openGenerateMenu">
    Generate New Quiz using
  </button>
  <ng-template #content class="category-list">
    <tui-data-list tuiDataListDropdownManager [size]="size">
      <div *ngFor="let tour of userTours; index as i">
        <button tuiOption type="button" (click)="generateQuiz(tour.getId())"> {{ tour.getName() }} </button>
      </div>
    </tui-data-list>
  </ng-template>

  <div class="quiz-card-list">
    <div *ngFor="let quiz of quizzes(); index as i">
      <button tuiCardLarge tuiHeader tuiSurface="floating" type="button" (click)="playQuiz(i)">
        <div class="quiz-card">
          <div class="quiz-top-row">
            <div class="quiz-category">
              <div tuiHint="based on a tour">
                <tui-avatar appearance="info" src="@tui.landmark"/>
              </div>
            </div>
            <h3 tuiTitle>
              {{ quiz.name }}
            </h3>
            <h6>
              {{ this.quizCreatorNames()[i] }}
            </h6>
          </div>

          <div>
            {{ quiz.description }}
          </div>

          <div class="quiz-bottom-row">
            <div> {{ quiz.questions.length }} Qs</div>
            <div tuiHint="{{ this.friendScores()[i] }}"> {{ printScore(i) }} </div>
          </div>

        </div>
      </button>
    </div>
  </div>


</section>

<ng-template let-observer [tuiDialogOptions]="options" [(tuiDialog)]="openQuizPlay">

  <h2 class="question-text">
    {{ currentQuestion() }}
  </h2>

  <div class="question-image" *ngIf="currentImage().length > 0">
    <img src="{{ currentImage() }}" alt="image" class="image">
  </div>

  <div class="answer-list">
    <div>
      <button tuiSurface="floating" type="button" class="offset" (click)="check(currentAnswer1())">
        {{ currentAnswer1() }}
      </button>
    </div>
    <div>
      <button tuiSurface="floating" type="button" class="offset" (click)="check(currentAnswer2())">
        {{ currentAnswer2() }}
      </button>
    </div>
    <div>
      <button tuiSurface="floating" type="button" class="offset" (click)="check(currentAnswer3())">
        {{ currentAnswer3() }}
      </button>
    </div>
    <div>
      <button tuiSurface="floating" type="button" class="offset" (click)="check(currentAnswer4())">
        {{ currentAnswer4() }}
      </button>
    </div>
  </div>

  <div class="single-quiz-footer">
    <progress
      tuiProgressBar
      [max]="numberOfQuestions"
      [segments]="numberOfQuestions"
      [value]="currentQuestionIndex"
    ></progress>

    <div class="single-quiz-footer-buttons">
      <button class="next-button-style" appearance="secondary" tuiButton type="button" (click)="retrieveFriends()">
        Invite friends!
      </button>

      <button class="next-button-style" appearance="primary" tuiButton type="button" (click)="loadNextQuestion()">
        Next
      </button>
    </div>
  </div>

</ng-template>
