<!-- Quiz List View -->
<section id="quizListView" class="quiz-list-view">
  <h1>Ready for a Challenge?</h1>

  <button class="button-style" appearance="primary" tuiButton type="button" iconEnd="@tui.chevron-down"
          [tuiAppearanceState]="openGenerateMenu ? 'hover' : null" [tuiDropdown]="content"
          [(tuiDropdownOpen)]="openGenerateMenu">
    Generate New Quiz using
  </button>
  <ng-template #content class="category-list">
    <tui-data-list tuiDataListDropdownManager [size]="size">
      <button tuiOption type="button" (click)="generateQuiz('LATEST_TOUR')"> your latest tour</button>
      <button tuiOption type="button" (click)="generateQuiz('SPECIFIC_TOUR')"> a specific tour</button>
      <button tuiOption type="button" (click)="generateQuiz('INTERESTS')"> your interests</button>
      <button tuiOption type="button" (click)="generateQuiz('FUN_FACTS')"> your favorite fun facts</button>
      <button tuiOption type="button" (click)="generateQuiz('POPULAR')"> general popularity</button>
      <button tuiOption type="button" (click)="generateQuiz('PARTY')"> randomized based on players</button>
    </tui-data-list>
  </ng-template>

  <div class="quiz-card-list">
    <div *ngFor="let quiz of quizzes(); index as i">
      <button tuiCardLarge tuiHeader tuiSurface="floating" type="button" (click)="playQuiz(i)">
        <div class="quiz-card">
          <div class="quiz-top-row">
            <div class="quiz-category">
              <div *ngIf="quiz.category === 'LATEST_TOUR'" tuiHint="based on your latest tour">
                <tui-avatar appearance="info" src="@tui.timer"/>
              </div>
              <div *ngIf="quiz.category === 'SPECIFIC_TOUR'" tuiHint="based on a specific tour">
                <tui-avatar appearance="info" src="@tui.landmark"/>
              </div>
              <div *ngIf="quiz.category === 'INTERESTS'" tuiHint="based on your interests">
                <tui-avatar appearance="positive" src="@tui.book-open-text"/>
              </div>
              <div *ngIf="quiz.category === 'FUN_FACTS'" tuiHint="based on your favorite fun facts">
                <tui-avatar appearance="warning" src="@tui.heart"/>
              </div>
              <div *ngIf="quiz.category === 'POPULAR'" tuiHint="based on general popularity">
                <tui-avatar appearance="neutral" src="@tui.users-round"/>
              </div>
              <div *ngIf="quiz.category === 'PARTY'" tuiHint="based on all participating players">
                <tui-avatar appearance="negative" src="@tui.party-popper"/>
              </div>
            </div>
            <h3 tuiTitle>
              {{ quiz.name }}
            </h3>
            <h6>
              {{ quiz.creator }}
            </h6>
          </div>

          <div>
            {{ quiz.description }}
          </div>

          <div class="quiz-bottom-row">
            <div> {{ quiz.questions.length }} Qs</div>
            <div> Score: 90%</div>
          </div>

        </div>
      </button>
    </div>
  </div>


</section>

<ng-template let-observer [tuiDialogOptions]="options" [(tuiDialog)]="openQuizPlay">

  <div class="single-quiz">
    <h2 class="question-text">
      {{ playingQuiz?.questions }}
    </h2>

    <div class="question-image">
      <img ngSrc="{{ image }}" alt="image" fill>
    </div>


    <div class="answer-list">
      <div class="answer-card">
        <button tuiSurface="floating" type="button" class="offset">
          {{ answers.at(0) }}
        </button>
      </div>
      <div class="answer-card">
        <button tuiSurface="floating" type="button" class="offset">
          {{ answers.at(1) }}
        </button>
      </div>
      <div class="answer-card">
        <button tuiSurface="floating" type="button" class="offset">
          {{ answers.at(2) }}
        </button>
      </div>
      <div class="answer-card">
        <button tuiSurface="floating" type="button" class="offset">
          {{ answers.at(3) }}
        </button>
      </div>
    </div>

    <progress
      tuiProgressBar
      [max]="5"
      [segments]="5"
      [value]="3"
    ></progress>
  </div>

</ng-template>
