<div class="userlist-container">
  <h2 class="header-with-icon">👤 Users</h2>

  <table class="userlist-table">
    <thead>
    <tr>
      <th>Actions</th>
      <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>
        <button
          tuiIconButton
          iconStart="@tui.mail"
          appearance="primary"
          size="s"
          (click)="sendFriendInvite(user)"
        >
          Send Invite
        </button>
      </td>
      <td>{{ user.email }}</td>
    </tr>
    </tbody>
  </table>
</div>
