<div class="centered-wrapper">

  <header tuiHeader>
    <h2> Welcome to <img src="assets/logo/cityTales-logo-desktop-white.svg" alt="CityTales Logo" height="25" /></h2>
  </header>

  <div>
    <p class="introduction-text">
      In our application you can find many interesting places that are located in this beautiful city called Vienna.
      Not only that, but you will also be able to find out more about the history of this city and the people that lived here.
      We provide to you an interactive experience, that will make your travel through our town more enjoyable than ever before.
    </p>
    <p class="tour-introduction-text">
      Besides the interactive map, we offer to you a tour planning functionality, that will make the preparation of your trip even easier.
      After planning your trip, you can export it directly into your offline downloaded Google maps application and
      let the native navigation bring you to your desired destinations.
    </p>
    <p class="login-introduction-text">
      All the functionalities mentioned above are available to you for free, but if you register to our application,
      you can also save your created tours or your favorite fun facts and much more.
    </p>
  </div>

  <footer>
    <button class="button-style" tuiButton appearance="primary" type="submit" (click)="handleClick()" >
      Let's start your adventure!
    </button>
  </footer>

</div>
