@media (max-width: 768px) {
  .centered-wrapper {
    justify-content: center;
    padding: 0 !important;
  }

  .introduction-text, .tour-introduction-text, .login-introduction-text {
    width: 90%;
    margin-left: 5%;
  }
}

/* tablet: 769px-1024px */
@media (min-width: 769px) and (max-width: 1024px) {
  .introduction-text, .tour-introduction-text, .login-introduction-text {
    width: 60%;
    margin-left: 20%;
  }
}

/* desktop: >768px show only .desktop */
@media (min-width: 1025px) {
  .introduction-text, .tour-introduction-text, .login-introduction-text {
    width: 40%;
    margin-left: 30%;
  }
}
