@import '@taiga-ui/styles/taiga-ui-global';

:host {
  display: flex;
  flex-direction: column;
  position: relative;
}

.content {
  padding: 1rem;
}

.place-summary {
  padding: 1rem;
}

.place-summary-text {
  font: var(--tui-font-text-m) !important;
}

.notification-button-container {
  position: sticky;
  top: 1.5rem; /* distance from top as you scroll */
  margin-left: auto; /* pushes it to the right */
  margin-right: 1rem; /* spacing from right edge */
  z-index: 10;
}
