<div class="header-container" [class.hidden]="isMobile">
  <div class="search-bar-container" [class.hidden]="isMobile">
    <div #searchFieldRef class="search-wrapper">
      <tui-textfield (pointerdown.capture.stop)="(0)" class="search-field">
        <input
          placeholder="Search for an entity..."
          [formControl]="control"
          [tuiInputSearch]="search"
          [(tuiInputSearchOpen)]="searchOpen"
          (tuiInputSearchOpenChange)="searchOpenChange.emit($event)"
        />

        <ng-template #search>
          <tui-search-results [results]="results$ | async">
            <tui-search-history [popular]="lastSearches"/>
            <ng-template let-item>
              <a
                tuiCell
                (click)="onItemClick(item)"
              >
                <span tuiTitle>
                                  {{ item.name }}
                              </span>
              </a>
            </ng-template>
          </tui-search-results>
        </ng-template>
      </tui-textfield>
    </div>
  </div>

  <div class="notification-button-container" *ngIf="!isMobile">
    <app-notification-inbox (selectPlaceEvent)="setPlaceDetail($event)"></app-notification-inbox>
  </div>
</div>

<tui-scrollbar class="scrollable-content" #scrollbarRef>
  <div class="sidebar-container" *ngIf="selectedItem">
    <ng-container [ngSwitch]="selectedItem.type">

      <app-historic-place-detail
        *ngSwitchCase="'place'"
        [selectedPlace]="selectedItem.data"
        (onCloseEvent)="closeDetailView()"
        (onPersonDetailEvent)="setPersonDetail($event)"
        (onEventDetailEvent)="setEventDetail($event)"
        (onBuildingDetailEvent)="setPlaceDetail($event)">
      </app-historic-place-detail>

      <app-historic-event-detail
        *ngSwitchCase="'event'"
        [selectedEvent]="selectedItem.data"
        (onCloseEvent)="closeDetailView()"
        (onPersonDetailEvent)="setPersonDetail($event)"
        (onEventDetailEvent)="setEventDetail($event)"
        (onBuildingDetailEvent)="setPlaceDetail($event)">
      </app-historic-event-detail>

      <app-historic-person-detail
        *ngSwitchCase="'person'"
        [selectedPerson]="selectedItem.data"
        (onCloseEvent)="closeDetailView()"
        (onPersonDetailEvent)="setPersonDetail($event)"
        (onEventDetailEvent)="setEventDetail($event)"
        (onBuildingDetailEvent)="setPlaceDetail($event)">
      </app-historic-person-detail>

    </ng-container>
  </div>
</tui-scrollbar>


<div class="place-preview-container" *ngIf="!selectedItem">
  <app-historic-place-preview
    [historicalPlaces]="historicalPlaces"
    (selectPlaceEvent)="setPlaceDetail($event)">
  </app-historic-place-preview>
</div>


