<div class="header-container" [class.hidden]="isMobile">
  <div class="search-bar-container" [class.hidden]="isMobile">
    <div #searchFieldRef class="search-wrapper">
      <tui-textfield (pointerdown.capture.stop)="(0)" class="search-field">
        <input
          placeholder="Search for an entity..."
          [formControl]="control"
          [tuiInputSearch]="search"
          [(tuiInputSearchOpen)]="searchOpen"
          (tuiInputSearchOpenChange)="searchOpenChange.emit($event)"
        />

        <ng-template #search>
          <tui-search-results [results]="results$ | async">
            <tui-search-history [popular]="lastSearches"/>
            <ng-template let-item>
              <a
                tuiCell
                (click)="onItemClick(item)"
              >
                <span tuiTitle>
                                  {{ item.name }}
                              </span>
              </a>
            </ng-template>
          </tui-search-results>
        </ng-template>
      </tui-textfield>
    </div>
  </div>

  <div class="notification-button-container" *ngIf="!isMobile">
    <app-notification-inbox (selectPlaceEvent)="setSelectedPlace($event)"></app-notification-inbox>
  </div>
</div>

<tui-scrollbar class="scrollable-content">
<div class="sidebar-container" *ngIf="this.selectedPlace || this.selectedEvent || this.selectedPerson">

  <!-- Show Place -->
  <app-historic-place-detail
    *ngIf="this.selectedPlace"
    [selectedPlace]="selectedPlace"
    (onCloseEvent)="closeDetailView()"
    (onPersonDetailEvent)="setPersonDetail($event)"
    (onEventDetailEvent)="setEventDetail($event)"
    (onBuildingDetailEvent)="setPlaceDetail($event)">
  </app-historic-place-detail>

  <!-- Show Event -->
  <app-historic-event-detail
    *ngIf="this.selectedEvent"
    [selectedEvent]="selectedEvent"
    (onCloseEvent)="closeDetailView()"
    (onPersonDetailEvent)="setPersonDetail($event)"
    (onEventDetailEvent)="setEventDetail($event)"
    (onBuildingDetailEvent)="setPlaceDetail($event)">
  </app-historic-event-detail>

  <!-- Show Person -->
  <app-historic-person-detail
    *ngIf="this.selectedPerson"
    [selectedPerson]="selectedPerson"
    (onCloseEvent)="closeDetailView()"
    (onCloseEvent)="closeDetailView()"
    (onPersonDetailEvent)="setPersonDetail($event)"
    (onEventDetailEvent)="setEventDetail($event)"
    (onBuildingDetailEvent)="setPlaceDetail($event)">
  </app-historic-person-detail>

</div>
</tui-scrollbar>


<div class="place-preview-container" *ngIf="!this.selectedPlace && !this.selectedEvent && !this.selectedPerson">
  <app-historic-place-preview [historicalPlaces]="historicalPlaces"
                              (selectPlaceEvent)="setSelectedPlace($event)"></app-historic-place-preview>
</div>


