<div class="layout-container tui-space_vertical-5" xmlns="http://www.w3.org/1999/html">
  <!-- Recommended Tours Panel -->
  <section tuiAppearance="neutral" class="recommended-section">
    <h3 tuiTitle class="tui-text_h4">Recommended Tours</h3>
    <div class="tour-scroll-container">
      <ng-container *ngFor="let tour of recommendedTours")>
        <div class="tour-card-horizontal">
          <div class="tour-card-header">
            <h4 tuiTitle class="tui-text_h6">{{ tour.name }}</h4>
            <span tuiSubtitle>Estim. Duration: {{ tour.duration }}</span>
          </div>
          <p class="tui-text_body tui-space_top-1">{{ tour.description }}</p>
        </div>
      </ng-container>
    </div>
  </section>

  <!-- User Tour Panel -->
  <section tuiAppearance="neutral" class="recommended-section">
    <h3 tuiTitle class="tui-text_h4">Your Tours</h3>
    <div *ngIf="userTours.length > 0" class="tour-scroll-container">
      <ng-container *ngFor="let tour of userTours">
        <div class="tour-card-horizontal" (click)="onTourCardClick(tour)">
          <div class="tour-card-header">
            <h4 tuiTitle class="tui-text_h6">{{ tour.getName() }}</h4>
            <span tuiSubtitle>Estim. Duration: {{ tour.getDurationEstimate().toFixed(2) }} h</span>

          </div>
          <p class="tui-text_body tui-space_top-1">{{ tour.getDescription() }}</p>
          <button tuiButton size="xs" (click)="deleteTour(tour)" class="slide-tour-delete-button">Delete</button>
        </div>
      </ng-container>
    </div>
  </section>


  <section tuiAppearance="neutral" class="map-section">
    <h3 tuiTitle class="tui-text_h4">Create Your Own Tour</h3>
  <google-map height="500px" width="100%"
              [center]="center"
              [zoom]="zoom"
              [options]="options"
              (mapClick)="onMapClick($event)">
    <map-polyline [path]="polylinePath" [options]="polylineOptions"></map-polyline>
  </google-map>

  <div class="controls">
    <button tuiButton class="control-button" (click)="mode = 'start'">Set Start</button>
    <button tuiButton class="control-button" (click)="mode = 'end'">Set End</button>
    <button tuiButton class="control-button" (click)="clearRoute()">Clear</button>

    <h4>Selected Tour</h4>
    <ol>
      <li *ngFor="let b of selectedBuildings">{{ b.name }}
        <button tuiButton size="xs" (click)="deleteStopFromTour(b)" class="tour-delete-button">Delete</button>
      </li>
    </ol>

  </div>

    <h4>Total distance of tour: {{tourDistance}}km</h4>
    <h4>Estim. walking time of tour: {{tourDuration}}h</h4>

  </section>

  <!-- Create Your Own Tour Section -->
  <section tuiAppearance="white" class="create-section tui-space_top-5">


    <div class="tui-space_vertical-3">
      <tui-textfield>
        <input
          tuiTextfield
          [formControl]="tourName"
          placeholder="Enter tour name"
          class="tui-block"
        />
      </tui-textfield>

      <tui-textfield>
  <textarea
    tuiTextfield
    [formControl]="tourDescription"
    placeholder="Describe your tour"
    class="tui-block"
    rows="10"
  ></textarea>
      </tui-textfield>

      <button
        tuiButton
        type="button"
        appearance="primary"
        size="m"
        (click)="createTour()"
        [disabled]="!tourName.value || !tourDescription.value || selectedBuildings.length === 0"
      >
        Create Tour
      </button>
    </div>
  </section>
</div>


<section tuiAppearance="neutral" class="advanced-tour-section tui-space_top-5">
  <h3 tuiTitle class="tui-text_h4">Advanced Tour Generator</h3>

  <!-- Min and Max Distance Slider -->
  <div class="tui-space_vertical-3">
    <label tuiLabel>Min Distance (km): {{ minDistance }}</label>
    <input tuiSlider
           type="range"
      [min]="0.0"
      [max]="50"
      [step]="0.2"
      [(ngModel)]="minDistance"
    >

    <label tuiLabel>Max Distance (km): {{ maxDistance }}</label>
    <input
      tuiSlider
      type="range"
      min="minDistance"
      min="0"
      max="50"
      step="0.2"
      [(ngModel)]="maxDistance"
    >
  </div>

  <!-- Min Sites to See -->
  <div class="tui-space_vertical-3">
    <label tuiLabel>Minimum Sites to Visit: {{ minSites }}</label>
    <input
      tuiSlider
      type="range"
      max="20"
      step="1"
      [(ngModel)]="minSites"
    />

    <div class="tui-space_vertical-3">
      <label tuiLabel>Max budget (€): {{ maxBudget }}</label>
      <input
        tuiSlider
        type="range"
        min="0"
        max="100"
        step="1"
        [(ngModel)]="maxBudget"
      >
    </div>
    <button tuiButton class="control-button" (click)="generateAdvancedTour()">Create a tour for me!</button>
  </div>
</section>

