.layout-container {
  padding: 2rem;
}

.recommended-section {
  background-color: #f7f9fa;
  padding: 1.5rem;
  border-radius: 1rem;
}

.tour-card {
  padding: 1rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.05);
}

.create-section {
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.05);
}
