<div class="place-detail-container">
  <div class="place-detail-card">
    <!-- Header with building information -->
    <div class="place-detail-header">
      <h2 class="place-detail-title">{{selectedPlace.name}}</h2>
      <div class="place-location" *ngIf="selectedPlace?.latitude != null && selectedPlace?.longitude != null">
        <span class="coordinates">
          {{ selectedPlace.latitude }}°N, {{ selectedPlace.longitude }}°E
        </span>
      </div>


      <button
        (click)="closeDetail()"
      > Close </button>


    </div>


    <!-- Main content -->
    <tui-scrollbar class="scrollable-content">
    <div class="place-detail-content">
      <div class="content-section">
        <h3>Description</h3>
        <p>{{ selectedPlace.contentGerman }}</p>
      </div>

      <div>
        <button class="feedback-button" appearance="secondary" size="m" tuiButton type="button" (click)="navigateToFeedback()">
          <tui-icon icon="@tui.message-circle-plus" [style.height.rem]="1"/> Give us feedback
        </button>
      </div>

      <div class="content-section" *ngIf="this.prices().length > 0">
        <h3>Prices
          <button *ngIf="userHasPermission" tuiButton appearance="flat" size="xs" type="button" class="add-btn" tuiHint="Add a new price!"
                  tuiHintDirection="top" (click)="showDialog(-1)">
            <tui-icon icon="@tui.circle-plus" class="prices"></tui-icon>
          </button>
        </h3>

        <div *ngFor="let price of prices(); index as i" class="price-row">

          <div class="price-bold" tuiHint="{{price.name}}">{{ price.name }}</div>
          <div class="price-description" tuiHint="{{price.description}}">{{ price.description }}</div>
          <div class="price-bold">{{ price.price }} €</div>

          <button *ngIf="userHasPermission" tuiButton appearance="flat" size="xs" type="button" class="edit-btn" tuiHint="Edit or delete an existing price!"
                  tuiHintDirection="top" (click)="showDialog(i.valueOf())">
            <tui-icon icon="@tui.square-pen" class="prices"></tui-icon>
          </button>
        </div>

      </div>

      <ng-template let-observer [tuiDialogOptions]="options" [(tuiDialog)]="open">
        <form [formGroup]="priceForm" class="textAreaContainerCtrl" (ngSubmit)="observer.complete()">
          <div class="stack">
            <tui-textfield #price tuiTextfieldSize="m" tuiAutoFocus [maskito]="maskitoOptions">
              <label tuiLabel>Price value</label>
              <input tuiTextfield required [placeholder]="price.focused() ? 'e.g. 15,00€' : 'Price value'"
                     formControlName="priceFormValue"/>
              <tui-icon tuiTooltip="The monetary value of the price."/>
            </tui-textfield>
          </div>

          <div class="stack">
            <tui-textfield #name tuiTextfieldSize="m">
              <label tuiLabel>Name</label>
              <input tuiTextfield required [placeholder]="name.focused() ? 'e.g. Adult' : 'Name'"
                     formControlName="nameFormValue"/>
              <tui-icon tuiTooltip="A short-hand name for the price."/>
            </tui-textfield>
          </div>

          <div class="stack">
            <tui-textfield #desc tuiTextfieldSize="m">
              <label tuiLabel>Description</label>
              <input tuiTextfield [placeholder]="desc.focused() ? 'e.g. Tour Ticket' : 'Description'"
                     formControlName="descriptionFormValue"/>
              <tui-icon tuiTooltip="Additional information for the price."/>
            </tui-textfield>
          </div>

          <div class="price-dialog-buttons">
            <button size="s" tuiButton type="submit" (click)="onSubmit()" class="save-button">
              <tui-icon icon="@tui.save" [style.height.rem]="1.2"/>
              Save
            </button>

            <button appearance="action-destructive" size="s" tuiButton type="submit" (click)="onDelete()" *ngIf="dialogLabel.startsWith('Edit')">
              Delete
            </button>
          </div>

        </form>
      </ng-template>

      <div class="content-section">
        <h3>Building Information</h3>
        <div class="building-details">
          <div class="detail-row" *ngIf="selectedPlace.name">
            <span class="label">Name:</span>
            <span class="value">{{ selectedPlace.name }}</span>
          </div>
          <div class="detail-row" *ngIf="selectedPlace.dateFrom">
            <span class="label">Build in:</span>
            <span class="value">{{ selectedPlace.dateFrom }}</span>
          </div>
          <div class="detail-row" *ngIf="selectedPlace.dateTo">
            <span class="label">Demolished in:</span>
            <span class="value">{{ selectedPlace.dateTo }}</span>
          </div>
          <div class="detail-row" *ngIf="selectedPlace.architect">
            <span class="label">Responsible Architect:</span>
            <span class="value">{{ selectedPlace.architect }}</span>
          </div>
          <div class="detail-row" *ngIf="selectedPlace.url">
            <span class="label">Wiki URL:</span>
            <span class="value">
              <a [href]="selectedPlace.url" target="_blank"> {{ selectedPlace.url }} </a>
            </span>
          </div>
          <div class="detail-row" *ngIf="selectedPlace.imageUrls.length > 0">
            <img [src]="selectedPlace.imageUrls[1]" alt="Building image" class="building-image">
          </div>

          <div class="content-section" *ngIf="selectedPlace.relatedPersons?.length">
            <h3>Related Persons</h3>
            <div class="related-items">
              <div class="related-item" *ngFor="let person of selectedPlace.relatedPersons">
            <span class="value">
              <div (click)="onPersonClick(person)">
                <span>{{ person.name }}</span>
              </div>
            </span>
              </div>
            </div>
          </div>

          <div class="content-section" *ngIf="selectedPlace.relatedBuildings?.length">
            <h3>Related Places</h3>
            <div class="related-items">
              <div class="related-item" *ngFor="let place of selectedPlace.relatedBuildings">
            <span class="value">
              <div (click)="onBuildingClick(place)">
                <span>{{ place.name }}</span>
              </div>
            </span>
              </div>
            </div>
          </div>

          <div class="content-section" *ngIf="selectedPlace.relatedEvents?.length">
            <h3>Related Events</h3>
            <div class="related-items">
              <div class="related-item" *ngFor="let event of selectedPlace.relatedEvents">
            <span class="value">
              <div (click)="onEventClick(event)">
                <span>{{ event.name }}</span>
              </div>
            </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </tui-scrollbar>
  </div>
</div>

