<tui-scrollbar class="preview-scroll-block">
  <div tuiPlatform="web" class="preview-block tui-space_top-10" *ngFor="let place of historicalPlaces">
    <div
      tuiAppearance="floating"
      tuiCardLarge
      class="card-with-background"
      [style.backgroundImage]="place.imageUrls[1] ? 'url(' + place.imageUrls[1] + ')' : 'none'"
      (click)="onDetailsClick(place)"

    >
      <header tuiHeader>
        <h2 tuiTitle>{{place.name}}</h2>
      </header>
    </div>
  </div>

</tui-scrollbar>

