section {
  display: flex;
  block-size: 3.125rem;
  border-radius: 0.75rem;
  justify-content: center;
  align-items: center;
  color: var(--tui-text-secondary);
  border: 1px dashed;
}

.label {
  font: var(--tui-font-text-l);
}

.preview-scroll-block {
  height: 100vh; // or any fixed height you prefer
  width: 100%;
}

.preview-block {
  padding: 1rem;

  &:not(:last-child) {
    margin-bottom: 2px; // adds spacing between cards
  }
}


:host {
  display: block;
  height: 100%;
}


