<google-map
  height="100%"
  width="100%"
  [center]="center"
  [zoom]="zoom"
  [options]="options"
>
  <map-marker #marker="mapMarker" *ngFor="let location of locationsNearby" [position]="{lat: location.latitude, lng: location.longitude}" [options]="markerOptions" (mapClick)="detailAction(marker, location)" (mapMouseout)="closeInfoWindow()"></map-marker>
  <map-marker [position]="center" [options]="locationMarkerOptions"></map-marker>

  <map-info-window #infoWindow>
    <div class="info-content" *ngIf="hoveredLocation as location">
      <ng-container *ngIf="combinedLocations && combinedLocations.length > 0; else noRelated">
        <div class="circle-wrapper">
          <div
            *ngFor="let loc of combinedLocations; let i = index"
            class="circle-building"
            [ngClass]="{
      'building-bg': loc.type === 'building',
      'person-bg': loc.type === 'person',
      'event-bg': loc.type === 'event'
    }"
            [style.transform]="getCirclePosition(i, combinedLocations.length)"
            (mouseenter)="onCircleMouseEnter(loc.name, i)"
            (mouseleave)="onCircleMouseLeave()"
            (click)="onCircleClick(loc)"
          >
            <img [src]="loc?.imageUrls?.[1]" alt="{{ loc?.name || 'Unnamed' }}" class="building-image" />
          </div>

          <!-- SINGLE Hover Label rendered in front of all -->
        </div>
        <div
          class="hover-label"
          *ngIf="hoveredIndex !== null"
          [style.top.%]="50"
          [style.left.%]="50"
          [style.transform]="getHoverLabelPosition(hoveredIndex, combinedLocations.length)"
        >
          {{ hoveredRelatedName }}
        </div>


      </ng-container>

      <ng-template #noRelated>
        <p class="no-related">No related buildings found.</p>
      </ng-template>
    </div>
  </map-info-window>
  <map-polyline
    *ngFor="let line of polylines"
    [path]="line"
    [options]="polylineOptions">
  </map-polyline>

</google-map>
